
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-titles{

    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

